/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

body {
    background-color: black;
}

section {
    padding-top: 3em;
}

#video-placeholder {
    margin: auto;
    display: flex;
}

#closed-captions {
    display: flex;
    justify-content: space-around;
}

#closed-captions p {
    opacity: 0;
    transition: .05s;
    position: absolute;
    width: 60%;
    line-height: 1;
    text-align: center;
    margin-top: 1em;
}

#closed-captions .on {
    opacity: 1;
}

#closed-captions .off {
    transition: .2s;
    opacity: 0;
}


/*VOICES ----------------------------------------*/


/*VOICE - 1 ---------*/

.voice1 {
    font-family: "Brenner Mono Regular";
    font-size: 20px;
    color: white;
    /*    animation: glitch 6s infinite ease;*/
}


/*VOICE - 2 ---------*/

.voice2 {
    font-family: "Brenner Sans Light";
    color: white;
    letter-spacing: 0.4px;
    font-size: 20px;
}


/*VOICE - 3 ---------*/

.voice3 {
    font-family: "Brenner Mono";
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: red;
    top: 190px;
}


/*VOICE - 4 ---------*/

.voice4 {
    font-family: "Brenner Mono Light";
    font-size: 20px;
    color: white;
}

.p0 span:nth-child(5) {
    font-weight: 300;
}


/*------------------SOUNDS-----------------------*/

.sound0 {
    animation: sound0 17s ease forwards;
}


/*SOUND0 ---------------------*/

@-webkit-keyframes sound0 {
    0% {
        background-color: black;
    }
    10% {
        background-color: #303030;
    }
    20% {
        background-color: black;
    }
    30% {
        background-color: #303030;
    }
    40% {
        background-color: black;
    }
    50% {
        background-color: #303030;
    }
    60% {
        background-color: black;
    }
    70% {
        background-color: #303030;
    }
    80% {
        background-color: black;
    }
    90% {
        background-color: #303030;
    }
    100% {
        background-color: black;
    }
}


/*SOUND1 RODE GLOED---------------------*/

.sound1 iframe {
    animation: buzzer 1.1s ease-out;
}

@-webkit-keyframes buzzer {
    0% {}
    10% {
        box-shadow: 0px 0px 69px 16px rgba(229, 0, 0, 0.81);
        border: 10px solid red;
    }
    90% {
        width: 650px;
        height: 450px;
        /*        box-shadow: 0 0 0 5px yellow, 0 0 0 10px black, 0 0 0 15px yellow, 0 0 0 20px black, 0 0 0 25px yellow;*/
        box-shadow: 0px 0px 69px 16px rgba(229, 0, 0, 0.81);
        border: 5px solid red;
    }
    100% {
        width: 600px;
        height: 400px;
        transform: scale(5%)
    }
}

.sound2 iframe {
    animation: sirene 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes sirene {
    0% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(200px);
        box-shadow: 0px -20px 17px -6px rgba(17, 0, 255, 1);
    }
    0% {
        transform: translateY(0px);
    }
}


/*SOUND3 IFRAME SPIN---------------------*/

.sound3 iframe {
    animation: spin 0.6s ease 0.5s both;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(720deg);
    }
}


/*BACKGROUND SCAN ANIMATION SOUND 3*/

.sound4 .scan {
    position: absolute;
    top: 0px;
    width: 100vw;
    border: 2px solid chartreuse;
    animation: scan 2s linear forwards;
    animation-delay: .4s;
}

@keyframes scan {
    0% {
        top: 0vh;
        box-shadow: 0px 0px 30px 20px rgba(127, 255, 2, 0.70);
    }
    50% {
        box-shadow: 0px 0px 30px 0px rgba(127, 255, 2, 0.70);
    }
    99% {
        opacity: 1;
    }
    100% {
        top: 100vh;
        box-shadow: 0px 0px 30px 20px rgba(127, 255, 2, 0.70);
        opacity: 0;
    }
}


/*FUCKOFF SOUND 7*/

.sound7 .voice3 {
    animation: fuckoff 1.2s ease;
}

@keyframes fuckoff {
    0% {
        transform: scale(1, 1);
    }
    40% {
        transform: scale(1.4, 1.4);
    }
    70% {
        transform: scale(1.4, 1.4);
    }
    100% {
        transform: scale(1, 1);
    }
}


/*IFRAME SCALE ANIMATION SOUND 10*/

.sound10 iframe {
    animation: schalen 43.5s forwards;
}

@keyframes schalen {
    0% {
        transform: scale(1, 1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    99% {
        transform: scale(0.7, 0.7)
    }
    100% {
        transform: scale(1, 1);
    }
}


/*CELLS ANIMATION SOUND 6 - 11*/

footer {
    opacity: 0;
    margin: 100px 10%;
    display: flex;
    justify-content: space-between;
}

.sound6 footer {
    animation: cells 4s forwards;
}

.cell1,
.cell2,
.cell3,
.cell4,
.cell5 {
    opacity: 1;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    box-shadow: 0px 0px 10px 2px white, 0px 0px 12px 2px purple;
    /*    animation: cells 5s infinite;*/
}

@keyframes cells {
    0% {
        opacity: 0;
    }
    24% {
        opacity: 1;
    }
    32% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    67% {
        opacity: 0;
    }
    82% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.sound12 footer {
    animation: cells1 .8s forwards;
}

@keyframes cells1 {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.sound14 footer {
    animation: cells2 .8s forwards;
}

@keyframes cells2 {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.sound15 footer {
    animation: cells3 .8s forwards;
}

@keyframes cells3 {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.sound16 footer {
    animation: cells4 .8s forwards;
}

@keyframes cells4 {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*INTERLINKED ANIMATION SOUND */

article {
    display: flex;
    padding-top: 6.2em;
    text-align: center;
}


/*
.sound16 article {
    animation: interlinked 0.7s forwards;
}

@keyframes interlinked {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/


/*BACKGROUND SCAN ANIMATION SOUND 5*/

.sound8 .scan {
    animation: scan2 2s linear forwards;
    animation-delay: .5s;
    left: 0px;
    height: 100vh;
    /*    border: 2px solid chartreuse;*/
    width: 2px;
    color: chartreuse;
}

@keyframes scan2 {
    0% {
        left: 0vw;
        box-shadow: 0px 0px 30px 20px rgba(127, 255, 2, 0.70);
    }
    50% {
        box-shadow: 0px 0px 30px 0px rgba(127, 255, 2, 0.70);
    }
    99% {
        opacity: 1;
    }
    100% {
        left: 100vw;
        box-shadow: 0px 0px 30px 20px rgba(127, 255, 2, 0.70);
        opacity: 0;
    }
}


/*BACKGROUND SCAN ANIMATION SOUND 9*/

.sound10 .scan {
    animation: scan3 2s linear forwards;
    left: auto;
    height: 100vh;
    width: 2px;
    color: chartreuse;
}

@keyframes scan3 {
    0% {
        left: 100vw;
        box-shadow: 0px 0px 30px 60px rgba(127, 255, 2, 0.80);
    }
    50% {
        box-shadow: 0px 0px 30px 0px rgba(127, 255, 2, 0.80);
    }
    99% {
        opacity: 1;
    }
    100% {
        left: 0vw;
        box-shadow: 0px 0px 30px 60px rgba(127, 255, 2, 0.80);
        opacity: 0;
    }
}


/*----------ZINNEN-------------*/

.p0 span:nth-child(2) {
    font-family: "Brenner medium";
    letter-spacing: 2px;
    background-color: white;
    color: black;
    padding: 7px;
}


/*VOICE 1 TESTAFNAME----------*/

.p8,
.p10,
.p11,
.p13,
.p14,
.p16,
.p17,
.p19,
.p21,
.p22,
.p24,
.p25,
.p27,
.p28,
.p30,
.p32,
.p33,
.p35,
.p36,
.p38,
.p40 {
    font-style: italic;
}


/*VOICE 2 CELS----------*/

.p9,
.p12,
.p15,
.p18,
.p20,
.p23,
.p26,
.p29,
.p31,
.p34,
.p37,
.p41,
.p42,
.p43 {
    /*    font-style: italic;*/
}


/*INTERLINKED*/

.p20,
.p23,
.p29,
.p26,
.p31,
.p34,
.p37,
.p39 {
    font-size: 2em;
    animation: interlinked .5s infinite linear;
}

@keyframes interlinked {
    0% {
        text-shadow: 5px 0px #FF0000;
    }
    25% {
        text-shadow: 0px 7px #257ca3;
    }
    60% {
        text-shadow: 5px 0px #FF0000;
    }
    100% {
        text-shadow: -5px 0px #257ca3
    }
}


/*
.p23 {
    font-size: 2.8em;
    top: 5.8em;
}

.p26 {
    font-size: 3em;
    top: 5em;
}

.p29 {
    font-size: 3.2em;
    top: 4.5em;
}

.p31 {
    font-size: 3.4em;
    top: 4.2em;
}

.p34 {
    font-size: 3.6em;
    top: 3.9em;
}

.p37 {
    font-size: 3.8em;
    top: 3.6em;
}

.p39 {
    font-size: 3.8em;
    top: 4.4em;
}
*/


/*Whitin cells interlinked 3x*/

#closed-captions .p41.on {
    font-size: 2em;
    animation: 2s whitincellsinterlinked3;
}

#closed-captions .p42.on {
    font-size: 2em;
    animation: 2s whitincellsinterlinked3;
}

#closed-captions .p43.on {
    font-size: 2em;
    animation: 2s whitincellsinterlinked3 forwards;
}

@keyframes whitincellsinterlinked3 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
        text-shadow: 5px 0px #FF0000;
    }
    25% {
        text-shadow: 0px 7px #257ca3;
    }
    60% {
        text-shadow: 5px 0px #FF0000;
    }
    95% {
        text-shadow: -5px 0px #257ca3;
    }
    100% {
        opacity: 0;
    }
}


/*Tweede gedeelte*/

.sound28 iframe {
    animation: sound28 44s ease forwards;
}

@keyframes sound28 {
    0% {
        box-shadow: 0px 0px 110px -42px rgba(128, 0, 128, 0.7);
    }
    5% {
        box-shadow: 0px 0px 160px 12px rgba(128, 0, 128, 0.7);
    }
    10% {
        box-shadow: 0px 0px 110px -42px rgba(128, 0, 128, 0.7);
    }
    15% {
        box-shadow: 0px 0px 160px 12px rgba(128, 0, 128, 0.7);
    }
    20% {
        box-shadow: 0px 0px 110px -42px rgba(128, 0, 128, 0.7);
    }
    25% {
        box-shadow: 0px 0px 160px 12px rgba(128, 0, 128, 0.7);
    }
    30% {
        box-shadow: 0px 0px 110px -42px rgba(128, 0, 128, 0.7);
    }
    35% {
        box-shadow: 0px 0px 160px 12px rgba(128, 0, 128, 0.7);
    }
    40% {
        box-shadow: 0px 0px 110px -42px rgba(128, 0, 128, 0.7);
    }
    45% {
        box-shadow: 0px 0px 160px 12px rgba(128, 0, 128, 0.7);
    }
    50% {
        box-shadow: 0px 0px 110px -42px rgba(128, 0, 128, 0.7);
    }
    55% {
        box-shadow: 0px 0px 160px 12px rgba(128, 0, 128, 0.7);
    }
    60% {
        box-shadow: 0px 0px 110px -42px rgba(128, 0, 128, 0.7);
    }
    65% {
        box-shadow: 0px 0px 160px 12px rgba(128, 0, 128, 0.7);
    }
    70% {
        box-shadow: 0px 0px 110px -42px rgba(128, 0, 128, 0.7);
    }
    75% {
        box-shadow: 0px 0px 160px 12px rgba(128, 0, 128, 0.7);
    }
    80% {
        box-shadow: 0px 0px 110px -42px rgba(128, 0, 128, 0.7);
    }
    85% {
        box-shadow: 0px 0px 160px 12px rgba(128, 0, 128, 0.7);
    }
    90% {
        box-shadow: 0px 0px 110px -42px rgba(128, 0, 128, 0.7);
    }
    95% {
        box-shadow: 0px 0px 160px 12px rgba(128, 0, 128, 0.7);
    }
    100% {
        box-shadow: 0px 0px 110px -42px rgba(128, 0, 128, 1);
    }
}

.sound29 iframe {
    filter: hue-rotate(50deg) saturate(4);
}

.sound30 iframe {
    filter: none;
}

.sound30 footer {
    animation: cellss 0.8s forwards;
}

.sound31 iframe {
    filter: hue-rotate(50deg) saturate(4);
}

.sound32 iframe {
    filter: none;
}

.sound32 footer {
    animation: cellss1 0.8s forwards;
}

.sound33 iframe {
    filter: hue-rotate(50deg) saturate(4);
}

.sound34 iframe {
    filter: none;
}

.sound34 footer {
    animation: cellss2 0.8s forwards;
}

.sound35 iframe {
    filter: hue-rotate(50deg) saturate(4);
}

.sound37 iframe {
    filter: none;
}

.p56.on {
    font-size: 2em;
    animation: interlinked2 .8s infinite linear;
}

.sound38 iframe {
    filter: hue-rotate(50deg) saturate(4);
}

.sound39 iframe {
    filter: none;
}

.p58.on {
    font-size: 2em;
    animation: interlinked2 .8s infinite linear;
}

.sound40 iframe {
    filter: hue-rotate(50deg) saturate(4);
}

.sound41 iframe {
    filter: none;
}

.p60.on {
    font-size: 2em;
    animation: dreadfully .8s infinite linear;
}

.sound42 iframe {
    filter: hue-rotate(50deg) saturate(4);
}

.sound43 iframe {
    filter: none;
}

.p62.on {
    font-size: 2em;
    animation: dreadfully .8s infinite linear;
}

.sound44 iframe {
    filter: hue-rotate(50deg) saturate(4);
}

.sound45 iframe {
    filter: none;
}

.p64.on {
    font-size: 2em;
    animation: distinct .8s infinite linear;
}

.sound46 iframe {
    filter: hue-rotate(50deg) saturate(4);
}

.sound48 iframe {
    filter: none;
}

.p66.on {
    font-size: 2em;
    animation: dreaddistinct .8s infinite linear;
}

.sound49 iframe {
    filter: hue-rotate(50deg) saturate(4);
}

.sound50 iframe {
    filter: none;
}

.p68.on {
    font-size: 2em;
    animation: dark 0.5s ease-in forwards;
}

.sound51 iframe {
    filter: hue-rotate(50deg) saturate(4);
}

.sound52 iframe {
    filter: none;
}

.p70.on {
    font-size: 2em;
    animation: interlinked2 .8s infinite linear;
}

.sound53 iframe {
    filter: hue-rotate(50deg) saturate(4);
}

.sound54 iframe {
    filter: none;
}

.p72.on {
    font-size: 2em;
    animation: onestem .8s infinite linear;
}

.sound55 iframe {
    filter: hue-rotate(50deg) saturate(4);
}

.sound56 iframe {
    filter: none;
}

.p74.on {
    font-size: 2em;
    animation: dreaddistinct .8s infinite linear;
}

.sound57 iframe {
    filter: hue-rotate(50deg) saturate(4);
}

.sound58 iframe {
    filter: none;
}

.p76.on {
    font-size: 2em;
    animation: dark 1s ease-in forwards;
}

.sound59 iframe {
    filter: hue-rotate(50deg) saturate(4);
}

.sound60 iframe {
    filter: none;
}

.sound60 section {
    animation: tallwhite 5s linear forwards;
    height: 100vh;
}

.p78.on  {
    font-size: 2em;
    color: black;
}

.sound61 iframe {
    animation: gone 1s ease-in forwards;
}


@keyframes gone {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
    };
}

@keyframes cellss {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cellss1 {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cellss2 {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes interlinked1 {
    0% {
        text-shadow: 5px 0px 3px #FF0000;
    }
    25% {
        text-shadow: 0px 6px 3px #257ca3;
    }
    60% {
        text-shadow: 5px 0px 3px #FF0000;
    }
    100% {
        text-shadow: -7px 0px 3px #257ca3;
    }
}

@keyframes interlinked2 {
    0% {
        text-shadow: 5px 0px 3px #FF0000;
    }
    25% {
        text-shadow: 0px 6px 3px #257ca3;
    }
    60% {
        text-shadow: 5px 0px 3px #FF0000;
    }
    100% {
        text-shadow: -7px 0px 3px #257ca3;
    }
}

@keyframes dreadfully {
    0% {
        text-shadow: 0px 2px 3px purple;
    }
    25% {
        text-shadow: 0px 6px 3px #fff;
    }
    60% {
        text-shadow: 0px 2px 3px purple;
    }
    100% {
        text-shadow: 0px 10px 3px #fff;
    }
}

@keyframes distinct {
    /*
    0% {
        text-shadow: 0px 2px 3px purple;
    }
    25% {
        text-shadow: 0px 6px 3px #fff;
    }
    60% {
        text-shadow: 0px 2px 3px purple;
    }
    100% {
        text-shadow: 0px 10px 3px #fff;
    }
*/
    0% {
        transform: skewX(-5deg);
    }
    10% {
        transform: skewX(5deg);
    }
    20% {
        transform: skewX(-10deg);
    }
    30% {
        transform: skewX(3deg);
    }
    40% {
        transform: skewX(-5deg);
    }
    50% {
        transform: skewX(11deg);
    }
    60% {
        transform: skewX(-10deg);
    }
    70% {
        transform: skewX(4deg);
    }
    80% {
        transform: skewX(-1deg);
    }
    90% {
        transform: skewX(11deg);
    }
    100% {
        transform: skewX(-12deg);
    }
}

@keyframes dreaddistinct {
    0% {
        text-shadow: 0px 2px 3px purple;
    }
    25% {
        text-shadow: 0px 6px 3px #fff;
    }
    60% {
        text-shadow: 0px 2px 3px purple;
    }
    100% {
        text-shadow: 0px 10px 3px #fff;
    }
    0% {
        transform: skewX(-5deg);
    }
    10% {
        transform: skewX(5deg);
    }
    20% {
        transform: skewX(-10deg);
    }
    30% {
        transform: skewX(3deg);
    }
    40% {
        transform: skewX(-5deg);
    }
    50% {
        transform: skewX(11deg);
    }
    60% {
        transform: skewX(-10deg);
    }
    70% {
        transform: skewX(4deg);
    }
    80% {
        transform: skewX(-1deg);
    }
    90% {
        transform: skewX(11deg);
    }
    100% {
        transform: skewX(-12deg);
    }
}

@keyframes dark {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
    }
    ;
}

@keyframes tallwhite {
    0% {
        background-color: white;
    }
    60% {
        background-color: white;
    }
    100% {
        background-color: black;
    }
}
